body{
  background-color: lightgray;
}
/* Container for the leaflet map to align with the other CSS */
#mapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 30vw;
  height: 45vh;
  padding: 4px;
  border-radius: 5px;
  border: black 5px solid;
  background-image: linear-gradient(to bottom left, red, white);
  box-shadow: 10px 10px 5px black;
}
/* Font size for the restaurant parameters */
h1{
  font-size: 16px;
}
/* Yelpington title text */
#yelp{
  font-size: 40px;
  justify-content: center;
  text-align: center;
}
/* A small amount of space to not  */
#map {
  border-radius: 5px;
}
/* The overall container that manipulates everything below the title text */
.app{
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 80vw;
  justify-content: space-evenly;

}